CellularAutomataClient/Service References/RemoteServices/meta1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/compile/meta?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="ArrayOfbase64Binary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="base64Binary" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfbase64Binary" nillable="true" type="tns:ArrayOfbase64Binary" />
  <xs:complexType name="ArrayOfKeyValueOfTupleOfintintunsignedByteRDHGY3MA">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfTupleOfintintunsignedByteRDHGY3MA">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="Key" nillable="true" type="q1:TupleOfintint" />
            <xs:element name="Value" type="xs:unsignedByte" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfTupleOfintintunsignedByteRDHGY3MA" nillable="true" type="tns:ArrayOfKeyValueOfTupleOfintintunsignedByteRDHGY3MA" />
</xs:schema>