CellularAutomataClient/Service References/RemoteServices/meta.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CellularAutomataLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CellularAutomataLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompilerErrors">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfCompilerMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompilerErrors" nillable="true" type="tns:CompilerErrors" />
  <xs:complexType name="ArrayOfCompilerMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompilerMessage" nillable="true" type="tns:CompilerMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompilerMessage" nillable="true" type="tns:ArrayOfCompilerMessage" />
  <xs:complexType name="CompilerMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Severity" type="tns:Severity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompilerMessage" nillable="true" type="tns:CompilerMessage" />
  <xs:simpleType name="Severity">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Warning" />
      <xs:enumeration value="Error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Severity" nillable="true" type="tns:Severity" />
  <xs:complexType name="InvalidOperationFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidOperationFault" nillable="true" type="tns:InvalidOperationFault" />
</xs:schema>